[2017-01-17 18:25] RichardLitt opened #2 "Add Install and Usage section"
There is no content!

[2017-01-17 18:29] dignifiedquire commented on #2
There is nothing to document yet, will be done in #1

[2017-04-04 00:45] diasdavid commented on #2
coming with #1

[2017-04-04 00:45] #2 closed

[2017-04-06 18:18] diasdavid opened #3 "Add peers to the kbucket that are still missing"
Currently, there is a window of time after a new dial where a connection will be already established, but the kbucket doesn't know about it yet. A quick solution would be to do `peerBook.forEach - if peer.isConnected` and added those who missing, but at that time, we can't tell if that peer supports DHT.

What we need is to use the `protocols` prop available, but for that, we need to start getting

[2017-04-06 20:10] diasdavid opened #4 "Fix and test all the 'TODO'"

[2017-04-06 20:10] diasdavid opened #5 "Document how DHT is implemented"
-  [ ] Overview with graph and things

[2017-04-06 20:11] diasdavid opened #6 "ext_test.go"
- `ext_test.go`
  - [ ] get failures
  - [ ] not found
  - [ ] less than K responses

[2017-04-06 20:13] diasdavid opened #7 "Make bootstrapStart be a discovery service (random-walk)"
https://github.com/libp2p/js-libp2p-kad-dht/pull/1#discussion_r110063043

[2017-04-07 12:06] diasdavid opened #8 "Test is weird"
@dignifiedquire this test

[code]

sometimes fail. If we look at the test, we can see that it sets up a random DHT leading to sometimes non predictable scenarios.

[2017-04-07 13:07] diasdavid opened #9 "Circular dep with libp2p-ipfs-nodejs"
This module is a piece of js-libp2p bundles, but at the same time it expects to receive a bundle to operate, forcing us to have to create an instance inside the base class. This is annoying to work with because it forces updating and development to happen through `npm link` with a bundle for changes that require modifying how the bundle gets created. This module should use the internal components

[2017-04-16 11:45] diasdavid opened #11 "Docs 404"
https://libp2p.github.io/js-libp2p-kad-dht

[2017-04-16 11:52] dignifiedquire commented on #11
did you publish this module? they are uploaded only on publish

[2017-04-16 12:12] diasdavid commented on #11
Yep, it is published. I've been installing it directly. What else could be the case?

[2017-07-15 22:59] diasdavid commented on #7
https://github.com/libp2p/js-libp2p-kad-dht/blob/master/src/index.js#L524-L565

[2017-07-17 14:33] #9 closed

[2017-08-26 13:18] diasdavid opened #14 "Handle remaining TODO"
https://github.com/libp2p/js-libp2p-kad-dht/pull/1

[2017-09-03 18:28] diasdavid commented on #5
Hoping my [🙏🏽](https://github.com/ipfs/js-ipfs-bitswap/pull/142#discussion_r135126146) get heard for this one :)

[2017-09-16 09:41] artiya4u opened #17 "Install step is not working"
In readme file shown

but it not working.
I can use

Is it correct?
Using npm 5.3.0

[2017-09-16 11:39] #17 closed

[2017-09-16 11:40] diasdavid commented on #17
@artiya4u thanks, fixed with https://github.com/libp2p/js-libp2p-kad-dht/commit/550c0d9c37b3a9fc92fa34677b97994af67ceef7

[2017-10-19 13:42] jozanza commented on #11
I'm curious about using this lib in the browser, and I've love to take a look at the docs. Any chance we could fix this 404?

[2017-11-03 06:33] richardschneider opened #18 "Windows"
Needs to run on windows, see https://github.com/ipfs/interface-datastore/pull/12

Needs to be built and tested on appveyor

See https://github.com/ipfs/js-ipfs/issues/1017#issuecomment-341544132

[2017-11-03 07:04] richardschneider commented on #18
All tests pass on windows machine with https://github.com/ipfs/interface-datastore/pull/12!

[2017-11-09 01:14] #18 closed

[2018-01-11 17:50] RangerMauve opened #22 "DHT and circuit relay"
Hello,
I was wondering whether the DHT logic for connecting to peers will be making use of circuit relay once that becomes available in order to connect to peers using different transports (e.g. browsers)

[2018-01-11 17:51] lgierth commented on #22
Yes, but that's not a concern of the DHT, and the underlying connections are completely transparent to the DHT.

[2018-01-11 17:54] RangerMauve commented on #22
So a node will be able to traverse the DHT and make connections to intermediate nodes regardless of whether they have matching transports?
So once, circuit-relay gets added to js-ipfs we'll have browser participating in the DHT without issues?

[2018-01-11 18:15] dryajov commented on #22
Yes, that is (in part) exactly the concern of circuit-relay to connect nodes that otherwise don't share the same protocols. So, as long as browsers can connect to the rest of the network, which circuit-relay should help with, the DHT should work transparently in the browser. Although, circuit-relay is not the only way of "bridging" browser nodes, there are other transports that currently allow tha

[2018-01-11 19:14] RangerMauve commented on #22
Thank you both very much for the clarification!
I wasn't sure whether modules utilizing the swarm needed to do anything special in order to support circuit-relay, this clears things up quite a bit!

[2018-01-11 19:14] #22 closed

[2018-01-30 01:59] richardschneider opened #24 "Failing tests"
These tests are failing
[code]

[2018-02-20 11:47] diasdavid commented on #11
Not 404 anymore https://libp2p.github.io/js-libp2p-kad-dht/

[2018-02-20 11:47] #11 closed

[2018-02-23 19:40] zcstarr commented on #14
@diasdavid I'd like to jump in if there are any issues that can be picked off from the overarching dht awesomeness arc.

[2018-02-26 12:20] diasdavid commented on #14
Thank you, @zcstarr :) I'm currently moving things around, tracked -- https://github.com/libp2p/js-libp2p/issues/159 --. Given that you are new to the project, it would be good to get you started on some of the quicker (difficulty:easy) _help wanted_ labeled issues on js-libp2p, so that you are comfortable around the module codebase. Check which issues have both labels and are ready to be worked o

[2018-03-15 03:50] diasdavid opened #26 "Random Walk (previously Bootstrap) is not started by default, why?"
@dignifiedquire do you happen to remember why you never auto start random-walk neither here on in js-libp2p?

[2018-03-15 03:51] diasdavid commented on #24
fixed in https://github.com/libp2p/js-libp2p-kad-dht/pull/25

[2018-03-15 03:51] #24 closed

[2018-03-15 03:51] diasdavid commented on #8
fixed in https://github.com/libp2p/js-libp2p-kad-dht/pull/25

[2018-03-15 03:51] #8 closed

[2018-03-15 03:51] diasdavid commented on #7
done in https://github.com/libp2p/js-libp2p-kad-dht/pull/25

[2018-03-15 03:51] #7 closed

[2018-06-14 18:16] thEpisode opened #28 "Getting started?"
Hi, this library looks so good, but you have any snippet to create nodes? I see your API but I don't know how to implement it. Could you guide me please?

[2018-07-13 15:54] jacobheun opened #31 "Improve tests to remove flakiness"
There are some tests that are flakey because they are timeout based. For tests where we need to wait we should be doing polling until our conditions are met or test timeouts occur.

An example is provider expiration. We wait 300ms before checking, but sometimes this isnt long enough.

[2018-08-06 18:50] pgte opened #32 "dht.put succeeds if there are no closest peers"
`ipfs.dht.put()` succeeds if there are no closest peers. Although it fails to save the record into any other peer, the call succeeds locally.

Shouldn't we be checking whether the peer set is empty [here](https://github.com/libp2p/js-libp2p-kad-dht/blob/master/src/index.js#L169-L172)?

[2018-08-15 17:32] diasdavid commented on #32
There are always closest peers as long as there is one peer.

Can you write a test for the fail you are seeing?

[2018-08-27 13:54] jacobheun opened #34 "Use CIDs instead of Buffers for keys"
Currently the dht interface uses buffers for keys rather than CIDs. Changing to CIDs will help improve our ability to migrate, as well as ensure we're using the appropriate encodings.

#33 implements a fix for character encoding logs, but this doesn't help when we need to migrate to new encodings. If we leverage the `cids` module, we can convert methods that use Buffer keys to be of type CID, and

[2018-09-15 12:04] ajayrao80 opened #36 "Usage Example"
I couldn't find a clear usage example/documentation. Can anyone help me out?

[2018-09-18 01:23] jhiesey opened #37 "Correctly implement SKademlia"
This is the js version of https://github.com/libp2p/go-libp2p-kad-dht/issues/146

[2018-09-18 19:57] blakebyrnes opened #38 "Shouldn't the kad delete using the Key, not the buffer?"
I'm getting errors on this line when I plug in a fs-datastore and data is > 1 day old.  I believe the "key" should be the dsKey

https://github.com/libp2p/js-libp2p-kad-dht/blob/edab8a3765d440c5c010c119a3c0a83ae37d6590/src/private.js#L136

[2018-09-20 11:07] vasco-santos commented on #36
Hello @ajayrao80

For now, I can forward you to the `js-libp2p` code, where this DHT implementation is being used.

[js-libp2p/index.js#L87](https://github.com/libp2p/js-libp2p/blob/master/src/index.js#L87)

Let me know if you could understand how to use it.

I would really like to have an example in the README.md, as well as an example with some running code. If you are willing to help after unde

[2018-09-20 11:11] vasco-santos commented on #38
Hello @blakebyrnes

Thanks for reporting this bug. I think that you are correct about the `dsKey`. Would you like to create a Pull Request fixing this, as well as adding a test?

[2018-09-20 13:40] blakebyrnes commented on #38
Sure, I can do that.  I can't find test cases for _checkLocalDatastore, so I was going to put them in kad-dht.spec.js with the following spec:
[code]

Upon digging, however, it does not seem the like KAD code ever sets a timeReceived onto the Records.  I _think_ that means it will always throw out records received from third parties.  Is that your understanding too?  Doesn't that seem unintended?

[2018-09-21 10:43] vasco-santos commented on #38
Hello @blakebyrnes ,

Seems ok to me

Yes, that is what is happening when we add a record from our node, as we can see in the following lines:
[js-libp2p-kad-dht/utils.js#L147](https://github.com/libp2p/js-libp2p-kad-dht/blob/master/src/utils.js#L147)
[js-libp2p-recordrecord.js#L17](https://github.com/libp2p/js-libp2p-record/blob/master/src/record.js#L17)

If we receive a record from a different n

[2018-09-22 20:55] blakebyrnes commented on #38
Totally makes sense.  I looking incorrectly through the code, so didn't see the explicit setting of timeReceived.  I put in a pull request with the fix and some tests for that function.

Out of curiosity, is there a "rebroadcast" notion in the kad?  Ie, refresh the timeReceived date

[2018-09-25 10:59] vasco-santos commented on #38
@blakebyrnes we do not have a `rebroadcast` notion here.

Just a note, please create a different issue when adding questions different from the original topic, as they may help other people in the future and they will be more difficult to find in the middle of other issues 🙂

[2018-09-25 11:04] vasco-santos commented on #26
I have only now checked that this issue already existed.

In the tests that I am currently implementing for `DHT Interop`, I cannot have peers getting to know each other until I start the random walk. In GO land, their random walk is started immediately.

I already created two PRs for enabling this [js-libp2p-kad-dht#42](https://github.com/libp2p/js-libp2p-kad-dht/pull/42) and [js-libp2p#251](http

[2018-09-25 12:04] blakebyrnes commented on #38
Ok, will do next time! 😬

[2018-09-25 12:20] diasdavid commented on #26
@vasco-santos you have to have in mind that when go-libp2p DHT was built, there was still no concept of libp2p and therefore Peer Routing and Content Routing. When designing libp2p we made those explicitly separate and that is why this module gets 3 badges https://github.com/libp2p/js-libp2p-kad-dht#peer-routing

[2018-09-25 13:27] vasco-santos commented on #26
Ok, this makes sense to be started by its users, if they intend to (like in `js-libp2p`)! Thanks David

I will close this issue for now.

[2018-09-25 13:27] #26 closed

[2018-09-25 17:26] vasco-santos opened #44 "randomWalk should be tested through interface-peer-discovery tests"
The current `randomWalk` implementation is not being tested with the [libp2p/interface-peer-discovery](https://github.com/libp2p/interface-peer-discovery).

This should have a similar implementation suite of tests like the other `peer-discovery` modules.

[2018-11-08 21:52] jhiesey opened #52 "Tests hang on node v11"
I recently updated to node v11.1.0, and the tests that previously worked fine hang. The TypeError isn't new; haven't investigated it.
[code]

[2018-11-08 21:54] jhiesey commented on #52
For now I'm going to stick with node v10.13.0 which works.

[2018-11-10 21:19] hstove commented on #44
So, is this library not actually compatible with peer discovery? I'm just getting started with libp2p, and using KadDHT as a `peerDiscovery` module doesn't work, and runs into a few errors. I'd love to be able to use randomWalk as a peer discovery mechanism.

Thanks!

[2018-11-12 15:07] vasco-santos opened #54 "findProviders should accept an optional maxNumProviders"
In the context of [this](https://github.com/ipfs/js-ipfs/issues/1698#issuecomment-437163644) discussion, we should allow a maximum number of providers through an option.

[2018-11-24 14:42] richardschneider opened #56 "DHT ID"
From the [code](https://github.com/libp2p/js-libp2p-kad-dht/blob/master/src/utils.js#L33), it looks like the `dht id` is the sha2-256 of the `peer id`.  The `peer id` is already the sha2-256 of the public key,

Why not simply use the `peer id` as the `dht id`?

[2018-11-25 00:04] richardschneider commented on #56
Thanks @blakebyrnes for the background info.

[2018-11-25 00:04] #56 closed

[2018-12-05 13:47] #37 closed

[2018-12-05 14:54] jacobheun opened #59 "Add support to get the connected peers for a specific peer"
go has support to get the connected peers for a given peer, [FindPeersConnectedToPeer](https://github.com/libp2p/go-libp2p-kad-dht/blob/v4.4.12/routing.go#L647). It would be nice if js had this support as well.

This support is also needed to fully support the current spec for the libp2p-daemon.

[2018-12-10 22:47] vasco-santos opened #60 "Add support for recursive provide"
When announcing to the network that we can provide given key's value, we should be able to it recursively.

[2018-12-11 08:37] alanshaw opened #61 "Discovered too many peers?"
<img width="324" alt="screenshot 2018-12-10 at 14 37 50" src="https://user-images.githubusercontent.com/152863/49787958-eb66da80-fd1f-11e8-90c8-7a18c6a6aa9f.png">

I mean, this is 😎, but I don't think there's that many peers on the network. At this same time my go-ipfs node was settling on ~800 nodes.

[2018-12-11 20:06] lidel commented on #61
Companion just counts the number of entries returned by `ipfs.swarm.peers()` :)
I think 3k peers will really happen if you disable connection manager in go-ipfs.

So my guess is that either:
- (A) `ipfs.swarm.peers()` returns duplicate entries,
- (B) peer count is valid and enabling DHT in js-ipfs surfaced the need for enforcing connection manager limits by default just like go-ipfs does :upside_d

[2018-12-12 09:36] alanshaw commented on #61
Incredible knowledge @lidel as usual ❤️

[2018-12-17 15:13] jacobheun opened #64 "Add error responses to RPC handlers"
Currently the js and go DHT implementation don't respond with errors from the rpc handlers, they just end the stream. This makes it difficult for someone to figure out what's going on with their implementation. For example, working on the libp2p-daemon, I was sending an invalid record key on put. The error caused the stream to terminate from the receiving dht node and no meaningful error is return

[2018-12-18 10:21] vasco-santos commented on #64
cc @jhiesey for the new spec

[2018-12-21 11:35] chris-asl commented on #28
_This seems to be resolved now._

I believe that in order to create nodes you need to use this module in conjuction with the libp2p library. You can find such snippets in libp2p2 [examples](https://github.com/libp2p/js-libp2p/tree/master/examples).

[2018-12-21 14:18] vasco-santos commented on #28
Thanks for you comment @chris-asl

@thEpisode look also to issue #36 . I will close this one, as we have #36 for tracking a usage example. Meanwhile, if you still have problems, feel free to reach us again!

[2018-12-21 14:18] #28 closed

[2018-12-23 17:42] thEpisode commented on #28
Thank you guys! you're awesome

[2018-12-24 12:58] chris-asl opened #65 "Are "upcalls" supported?"
I want to use `libp2p-kad-dht` as a DHT for an application.
I am wondering if there's a way to inform this application for new keys about to be saved (or even saved already), i.e. if upcalls are supported.

Example:
Given 3 nodes, A, B and C, that run my application which uses `libp2p-kad-dht`.

Given a `put(keyX, valueY)` issued by the application of node A and that the value should be stored in

[2018-12-27 15:16] chris-asl commented on #36
@vasco-santos I might be up for helping with this, since I am currently evaluating whether I can use `js-libp2p-kad-dht`.

If so, I can write up an example with my usecase.
Would be very grateful if you can give me some pointers on #65 :-)

[2018-12-28 12:16] vasco-santos commented on #65
Hello @chris-asl

Thanks for reaching out. We currently do not support that use case with `upcalls`. However, I am willing to discuss a proposal for implementing it.

[2018-12-28 12:20] vasco-santos commented on #36
Hey @chris-asl

In this issue, I would like to have a simple usage example first. It would be great if you could collaborate!

[2018-12-28 12:37] vasco-santos commented on #36
yes, that would be great!

[2018-12-28 12:42] vasco-santos commented on #65
So, the `validator` is responsible for validating if the record is valid under certain conditions (we receive a function). The `selector` is responsible for selecting which occurrence from a record is the best one.

At a first glimpse, I believe that we could add a new function parameter, such as the `validator` and `selector` that could notice `upwards` that a key was stored (I am not sure about

[2018-12-28 16:50] chris-asl opened #67 "docs: to-code links have a ":" which breaks them"
Hello,

The links to the code (the "<>" icon) from the autogenerated docs here:
https://libp2p.github.io/js-libp2p-kad-dht
contain a ":" that breaks them.

Example (just before libp2p): `https://git@github.com/:libp2p/js-libp2p-kad-dht/blob/59d1a943f16ce5492284ea2dbea4b4a615174bbc/src/index.js#L81-L81`

It either has to do with `documentation.js` which `ipfs/aegir` uses to generate docs or with ho

[2018-12-28 16:59] blakebyrnes opened #68 "During a put call, if any node fails to put, the entire put fails"
Have a scenario where if you get closest peers, and one peer cannot reply back with success, the entire put fails.  I think ideally, if X number of peers can be written to, this should succeed.

Examples of what a node might not be able to write to kad:
1) The KAD is not initialized on that node.  Ie, it's running a "light" node.  Solutions to this could include an earlier detection (maybe in iden

[2019-01-07 10:13] vasco-santos commented on #68
Hello @blakebyrnes and thanks for reaching out and sorry for the delay answering this!

I agree that we should not fail if we are able to put to a good set of peers and failing one for instance. This way, I believe that the best option here is to have a parameter to set the minimum number of peers to have a successful put (not applicable if the number of closest peers is less than it).

What do yo

[2019-01-08 04:13] blakebyrnes commented on #68
Sounds good.  I've got an implementation of this going.  Are you ok with the param being called "minPutPeers"?  I'm looking into tests right now, and several tests around "put" are failing with the default of 1 put peer that I chose.  Do you think we should have the default be 0 if no minimum peers are provided?  It would keep the behavior the same as current, but I do think it's potentially unexp

[2019-01-08 12:52] chris-asl opened #73 "When are keys deleted"
As per spec, Kademlia handles migration of keys (e.g. when a new node joins) by doing republishing of <key, value> pairs.

I see republishing has been implemented by the client code of `js-libp2p-kad-dht`, which is `js-ipfs`.
So, after a node joins the network, it updates its k-buckets and when the republishing happens it will store values that are close to its key.

But since the new node receive

[2019-01-08 17:50] jacobheun commented on #68
I'd recommend a generic option like `minPeers`, since it might be good to reuse that elsewhere in the future and the called function already declares the `put`.

I also recommend keeping the current behavior, default of 0. While this may be unexpected behavior it prevents this from being a breaking change. In the future we can then change the behavior to what we would expect.

[2019-01-09 15:00] blakebyrnes commented on #68
I updated the PR to use your suggestion of option name.  I had already gone down the path of not changing existing behavior, so glad we agree on that.

[2019-01-11 16:07] raduiliescu83 opened #74 "Handle removing of peers"
Not clear how I can handle this case.

Take following case:
1. Add two nodes - node1 & node2.
2. node2 provides *resource* via dht;
3. kill node2;
4. call findProviders(*resource*) on node1

This will generate following stack:
Error: No available transports to dial peer QmTxbrLsEBWjHgeK4kfJoRmfXDMeL9m1pD4E7hEKueJTFa!
    at nextTransport (/home/radu/git/dcdn/p2p_service/node_modules/libp2p/node_mo

[2019-02-01 05:57] thomaseizinger opened #76 "Allow to set randomWalk parameter through config"
Currently, the `randomWalk` discovery is started when the DHT module is started:

https://github.com/libp2p/js-libp2p-kad-dht/blob/b2a9fc5ab53db5a0105004e30af29fb24beaddfe/src/index.js#L136-L147

However, because no parameters are passed to `randomWalk.start()`, the random walk starts with the default parameters:

https://github.com/libp2p/js-libp2p-kad-dht/blob/b2a9fc5ab53db5a0105004e30af29fb24be

[2019-02-03 14:19] a1300 commented on #76
I second this. This is missing for me also.

[2019-02-03 17:33] vasco-santos commented on #76
Totally agree with this! Thanks for opening the issue and propose a solution @thomaseizinger

[2019-02-05 22:55] jhiesey commented on #76
Does the random walk logic really belong in the DHT at all? Ultimately running the random walk just calls `findPeer`, which is public.

[2019-02-05 23:43] thomaseizinger commented on #76
Are you suggesting that the functionality of random walks should be extracted into its own library - using what provides the ability to `findPeer`?

I think it could make sense.
However, for the time being, it is included in this one but wasn't configurable from the outside, so I'd suggest that this is actually a different topic :)

[2019-02-06 16:49] martinheidegger opened #78 "support for .unprovide"
As the documentation around `.provide` is a little thin I am guessing it announces the availability of a resource identified through a key(buffer). Somehow it seems necessary to have a corresponding opposite `.unprovide` in case that resource is no-longer available, triggering peers to remove one-self from the provider list.

[2019-02-07 11:50] vasco-santos commented on #74
Thanks for reporting the issue @raduiliescu83

Would you like to submit a PR for that?

[2019-02-13 01:15] JGAntunes opened #79 "Expose `utils.convertPeerId`"
Hello :wave:

First of all great work :+1: awesome module with great docs :smile:

I'm using it in [pulsarcast](https://github.com/JGAntunes/js-pulsarcast) - https://github.com/ipfs/notes/issues/266 and I'm currently looking for a way to access the closest peer(s) to a given peer locally. I understand this is a really specific use case for which exposing a method might not be worth it :man_shruggi

[2019-02-20 15:48] vasco-santos opened #81 "Enable browser tests"
We are only running node tests, as some tests use `net.createServer`. However, the majority of the tests can be used in the browser. I will open an issue to get them running in the browser.

[2019-02-23 23:07] SamTS opened #83 "Trouble upgrading from 12.1 to 13.0"
Hello,
Unsure if this is the right place for this, but I'm upgrading a project from kad-dht 12.1 to 13.0 and it isn't working for me.

I use `this.libp2p.contentRouting.provide(new CID(multihash), (err) => {` to provide a given multi-hash,
and then `this.libp2p.contentRouting.findProviders(new CID(multihash), FIND_PROVIDER_TIMEOUT, (err, result) => {` to find the content. It works in 12.1 and then

[2019-02-26 01:37] #68 closed

[2019-03-04 15:38] vasco-santos opened #86 "Closest peers query"
By default, `dht.getClosestPeers` is crawling all the network to find the closestPeers, which takes a long time and hits heavily the CPU when we have a large number of peers.

This was also a problem observed in #85 , as this took a lot of time and returned a large set of peers, which ended up failing the `dht.put` for lack of response of several peers. Moreover, queries also have an impact on `ra

[2019-03-04 15:41] vasco-santos commented on #76
We may consider having the `randomWalk` in a separate module when we refactor the DHT. For now, I think this is ok, but we can create an issue for that. Meanwhile, I will close this one.

Thanks for your contributions!

[2019-03-04 15:43] #76 closed

[2019-03-04 15:53] vasco-santos commented on #86
We should consider: https://github.com/libp2p/go-libp2p-kad-dht/pull/237

[2019-03-04 16:55] dirkmc commented on #86
SGTM 👍

I'm currently implementing streaming as part of the [async/await refactor](https://github.com/libp2p/js-libp2p-kad-dht/pull/82)

Should we simply end the query when the timeout occurs? I've also implemented this behaviour in the refactor.

[2019-03-04 22:28] vasco-santos commented on #86
We currently do not have a `timeout` for `put` / `getClosestPeers`, but it can be a possibility.

In addition, I think we should define a minimum number of peers (from the closest) to put, instead of needing by default to put all of them (I am against this, but while we don't have a proper logic to identify if a peer has a dht running, we should maybe do that).

Also, if we can define in the close

[2019-03-05 08:44] jacobheun commented on #86
We're working on support for this for the Gossipsub implementation, it should hopefully be added to the switch soon (mostly just testing and interop testing left). This would enable us to check `peerInfo.protocols` for the dht protocol, so we could prevent actions to those peers who are missing it.

[2019-03-18 10:33] vasco-santos opened #89 "Enable browser tests"
Currently, this module is not running tests in the browser, as a result of the usage of `net.createServer`. We should add a hook for it or separate node tests from browser tests.

[2019-04-02 10:06] achingbrain opened #94 "DHT causes js-IPFS to crash"
Not quite sure what caused this, but it was fatal.

[code]

[2019-04-03 11:28] vasco-santos commented on #94
Thanks for reporting this @achingbrain

This should be fixed by https://github.com/ipfs/js-ipns/pull/21 . Reopen this issue if that is still a problem

[2019-04-03 11:28] #94 closed

[2019-04-03 11:29] #81 closed

[2019-04-05 10:31] jayarjo commented on #44
@vasco-santos still not compatible with `interface-peer-discovery`?

[2019-04-13 09:36] kumavis opened #98 "Already provided content not sent to new peers"
Based on experimentation, it seems that calling `provide` before any connection is established does not result in peers being able to see that you provide that content. I would expect content that has been specified as provided should be forwarded to new peers on connection

[2019-04-13 12:07] kumavis opened #99 "calling provide can trigger Error: Dial is currently blacklisted for this peer"
`provide` sometimes results in an `Error: Dial is currently blacklisted for this peer`

[2019-04-13 12:13] kumavis commented on #99
Error comes from calling `network.sendMessage` here https://github.com/libp2p/js-libp2p-kad-dht/blob/e137297f5e7bc17a37f914614af433d5650e0552/src/index.js#L549

[2019-04-13 13:07] kumavis commented on #99
seems like this is related to doing:
[code]

and discovering yourself :upside_down_face:

[2019-04-13 13:28] kumavis commented on #99
https://github.com/libp2p/js-libp2p-webrtc-star/issues/171

[2019-04-13 15:12] mkg20001 commented on #99
created a proposal for permanently fixing this issue https://github.com/libp2p/js-libp2p-switch/issues/331

[2019-04-15 11:39] jacobheun opened #100 "Proposal: add trigger to randomWalk in addition to interval"
Currently `randomWalk`, when enabled, triggers on a given interval (current default of 5mins). When a node is starting, if it uses `randomWalk` as a peer discovery mechanism, it can take 5 minutes to crawl the dht for new peers. Assuming you launch your node and take no dht actions (as these should result in discovered peers), this can take a while to gain a meaningful number of peers and contribu

[2019-04-16 01:28] dirkmc commented on #100
I like this idea :+1:

Could you explain how the trigger mechansm would work? Is it a one-time event that causes random walk to start?

[2019-04-16 07:53] jacobheun commented on #44
Copying this over from https://github.com/libp2p/go-libp2p-kad-dht/issues/295#issuecomment-483550759:

------

Ideally we'd like to be able to have RandomWalk added to the discovery services that libp2p manages itself. The highest priority thing for us though is https://github.com/libp2p/interface-peer-discovery/issues/6, so we can ensure all Peer Discovery services are working as intended.

[2019-04-16 11:39] jacobheun commented on #100
Yes, I guess `delay` is a better term. Currently, when we start randomWalk it waits for the interval period to occur. If we change the randomWalk to **also** execute a walk as soon as it starts, we can use the `delay` to start the service. This way once the `delay` as occurred we'll immediately execute the walk, and then run it on `interval` after that.

So a randomWalk config of:
[code]

would ex

[2019-04-16 11:47] dirkmc commented on #100
Can we just start the DHT with `{ randomWalk: { enabled: false }}`, and then call `dht.randomWalk.start()` once we are connected to enough bootstrap nodes?

[2019-04-16 12:04] jayarjo commented on #44
@jacobheun so peer discovery is there, just not in a way we would expect from something that implements `interface-peer-discovery`?

[2019-04-16 12:29] jacobheun commented on #44
Correct, you can see the main difference in an upcoming js-ipfs update. Instead of the normal peerDiscovery registration https://github.com/ipfs/js-ipfs/blob/eb29e666ecc94bfa621023954d6bfc3e2c5357b3/src/core/runtime/libp2p-nodejs.js#L43-L47 and configuration https://github.com/ipfs/js-ipfs/blob/eb29e666ecc94bfa621023954d6bfc3e2c5357b3/src/core/runtime/libp2p-nodejs.js#L51-L62,
randomWalk is done v

[2019-04-16 12:45] jacobheun commented on #100
Potentially, but this gets complicated because we don't do any tagging of peers yet. As the number of discovery services grow we need to know which peers are Bootstrap nodes, or more generally, which peers have DHTs. We do have the support to check the protocols a peer is running, so we could check who has DHTs once we have a muxed connection to them.

We also have to determine what that threshold

[2019-04-16 12:46] jacobheun commented on #100
I created a branch to play around with this https://github.com/libp2p/js-libp2p-kad-dht/pull/101

[2019-04-16 13:57] alanshaw commented on #100
A initial delay to first run sounds good to me 👍

[2019-04-16 14:15] vasco-santos commented on #100
Also like the initial delay! Good proposal

[2019-04-17 13:28] vasco-santos opened #102 "Stop ongoing random-walk query if stopped"
As discussed on [libp2p/js-libp2p-kad-dht#101](https://github.com/libp2p/js-libp2p-kad-dht/pull/101), we should stop ab ongoing random-walk query if the random-walk is stopped, as we will not get anything from the queries results

[2019-04-17 13:28] #100 closed

[2019-04-17 14:04] jayarjo commented on #44
@jacobheun I think this wasn't available when I made original comment, 'cause it was giving me config validation error until I updated `libp2p`.

[2019-04-17 15:28] jacobheun commented on #44
@jayarjo ah, yeah that would have been an issue, depending on the version and the config. The config has changed a bit over the past few versions of the DHT. I just released a patch release of libp2p, 0.25.2, that should be less restrictive for this reason, and allow the DHT to do the config validation for itself.

[2019-04-18 07:00] jayarjo commented on #44
@jacobheun it keeps rediscovering the same nodes, although node seemingly already has them in its `peerBook`. Is this intended?

[2019-04-18 10:12] jacobheun commented on #44
Ideally it shouldn't be happening, but we have to do some cleanup to resolve this.

One problem is the `PeerBook.put()` logic happening to frequently in the libp2p code base, https://github.com/libp2p/js-libp2p/issues/345. Ideally, this would be localized to very specific places. Right now a lot of the code uses the `put` as a catch all to make sure we either have the latest data for a peer, or ar

[2019-04-18 10:16] vasco-santos opened #103 "Scope of queries"
In the context of improving the performance of the DHT operations @dirkmc did a great job limiting the scope of queries to k closest peers on [libp2p/js-libp2p-kad-dht#97](https://github.com/libp2p/js-libp2p-kad-dht/pull/97). There was a good discussion in the PR regarding where we should tweak the scope of queries, according to the type of DHT operation, in order to not compromise the proper work

[2019-04-18 10:17] vasco-santos commented on #103
We will start by testing the initial change in the real network and take conclusions on it. With the obtained results, we aim to understand how we can improve the changed queries, as well as to create proposals for the remaining ones.

cc @jacobheun @dirkmc @jhiesey

[2019-04-18 10:55] dirkmc commented on #103
👍 Thanks for putting this together @vasco-santos

[2019-04-22 06:03] jayarjo commented on #44
I was thinking to have a simple Map locally to distinguish between already found and new. Doesn't each peer have it's own "unqiue" id? This for example:

[code]

Perhaps I'm missing a bigger picture here?

[2019-04-22 06:15] jayarjo commented on #44
Oh... I see now `toB58String` generation logic itself is pretty sophisticated. Is it what you've meant?

[2019-04-22 09:20] kumavis opened #105 "dht.provide fails if any closest peer is blacklisted"
reproduction / error flow
- get peer blacklisted somehow
- call dht.provide()
- blacklisted peer in getClosestPeers
- `async/each` over peers and call `this.network.sendMessage(peer, msg, cb)`
- blacklist error causes whole `async/each` to end with error

https://github.com/libp2p/js-libp2p-kad-dht/blob/9db17eb85cc9dc011b7aa2b710576a00ef7fda9e/src/index.js#L530-L542

suggestions:
- ignore all erro

[2019-04-22 09:22] kumavis commented on #105
for reference my peers are usually blacklisted for "no transport for peer"

[2019-04-22 09:24] kumavis commented on #99
I guess this was a 2 part issue covered by:
- discovers self libp2p/js-libp2p-switch#331
- blacklisted peer breaks provide https://github.com/libp2p/js-libp2p-kad-dht/issues/105

[2019-04-22 09:24] #99 closed

[2019-04-22 09:25] kumavis commented on #105
https://github.com/libp2p/js-libp2p-kad-dht/issues/105

[2019-04-22 09:39] kumavis commented on #98
So currently there isn't any state for managing content as provided. I could implement this, but looking for feedback on the feature proposal first.

[2019-04-22 09:39] kumavis commented on #98
My current work around is to put my `provide` calls on a loop

[2019-04-22 09:46] kumavis opened #106 "async/await syntax"
hello/
happy to help incrementally refactor to async/await syntax
I think this would be valuable even if the external apis are still cb

let me know if its appropriate to start this. i would PR incremental pieces and aim for 0 change in behavior and a focus on more readable code.

[2019-04-22 09:47] kumavis commented on #106
i see there is a standing but aging and significantly conflicting PR here https://github.com/libp2p/js-libp2p-kad-dht/pull/82

[2019-04-22 10:11] dirkmc commented on #106
Yes, any changes should be made to that PR.

Thanks @kumavis

[2019-04-22 10:11] #106 closed

[2019-04-22 12:05] jacobheun commented on #44
You could easily use a `Set` to know new vs old and doing something for new peers. Note, if you want to dial them you should turn `autoDial` off on libp2p.
[code]

The caveat of this is for something like Bootstrap peers. Right now, we have a side effect with auto Dial, that if your peer count drops below the minimum peer threshold set for the Connection Manager, already discovered peers will be d

[2019-04-22 14:21] jacobheun commented on #105
Since the network is still fairly unstable having peers in the dht that are no longer dialable is going to be an issue we need to address. The blacklisting is likely due to this.

The provide shouldn't ignore the errors, I think it should continue trying further peers until it hits `kValue` (20) peers. Also, if we fail to connect to the peer they should probably get removed from the table or at le

[2019-04-22 14:31] jacobheun commented on #98
Similar to the issue with Put not republishing, https://github.com/libp2p/go-libp2p-kad-dht/issues/323,  I think provide should also be republishing.

We'd likely need to make sure there was some path for removing the provide though, in case we no longer have the content.

[2019-04-23 12:52] jacobheun commented on #102
With https://github.com/libp2p/js-libp2p-kad-dht/pull/104, once `findPeer` has support for AbortController, aborting an active random walk query will happen automatically provided `findPeer` is given the AbortController signal via `options.signal`

[2019-04-23 17:11] jacobheun commented on #103
I spent some time today testing out queries with the latest js-ipfs and I think I discovered some issues. I was seeing some `getClosestPeer` queries taking 3-5mins when attempting to add basic content.

### Issues
#### 1. Slow peers block.

Currently all queries operate under a concurrency of ALPHA (3). This is fine, however, if we are trying to query a peer that is slow or never responds we don't

[2019-04-24 00:14] dirkmc commented on #103
@jacobheun `PeerQueue` is actually a [Heap sorted by xor distance](https://github.com/libp2p/js-libp2p-kad-dht/blob/master/src/peer-queue.js#L58) from the key, so `dequeue()` should always return the closest peers it knows about.

I think it's a good idea to reduce the timeout, 60s seems way too long to hear back from a peer.

[2019-04-24 08:24] jacobheun commented on #103
Ah, I missed that. It's specific to a single Path though? Shouldn't we use a single PeerQueue to pull from?

Using separate queues runs a risk of having paths finish much earlier than others. For example, if I take the 3 closest peers from my routing table and query them and two of them are no longer online, won't I lose 66% of my query power, and still have at least 19 queries to make?

It seems

[2019-04-24 09:09] dirkmc commented on #103
As I understand it, the original Kademlia just queries until it finds `d` closest nodes, whereas for S/Kademlia we need to query `d` separate paths. The reason the paths are kept separate is in order to avoid adversarial nodes jamming up the query (eg by returning fake peers near the key). The disjoint paths lookup is described in section 4.4 of the [S/Kademlia paper](http://citeseerx.ist.psu.edu/

[2019-04-24 09:24] vasco-santos commented on #103
Great analysis! As @dirkmc stated, the `PeerQuery` is sorted by distance but regarding the timeout, I would suggest that we make some tests, in order to find average times that a query takes for good peers and find a good timeout according to the results.

In the disjoint paths lookup, we differentiate the queries per path as a security mechanism. But, can't we understand that a query has no more

[2019-04-24 09:27] jacobheun commented on #103
Oh yeah, dang, that will be a significant improvement. I was reading the original paper, I'll dive into the S/Kademlia paper more today.

I'll work on making these updates and get a WIP PR started soon so we can discuss more there.

[2019-05-06 07:44] kumavis opened #109 "Routing Table persistence"
Should the routing table be persisted? Providers currently are. Maybe if we don't have a ping mechanism, we want to avoid persisting the routingTable. Curious what the approach is here on what to persist and what not to.

[2019-05-06 15:28] kumavis opened #110 "RandomWalk - no public api to enable at runtime"
it would be nice to be able to enable randomWalk at runtime

randomWalk currently relies on options passed in to DHT at init

running at runtime currently requires using internal apis

[code]

[2019-05-08 11:17] kumavis commented on #44
The readme of `libp2p/interface-peer-discovery` describes itself has having a set of tests for testing the interface, but it doesnt actually contain anything beyond the readme

[2019-05-08 11:24] kumavis opened #111 "randomWalk start/stop does not take callbacks"
`randomWalk.start()` and `randomWalk.stop()` should take callbacks
https://github.com/libp2p/js-libp2p-kad-dht/blob/master/src/random-walk.js#L41

https://github.com/libp2p/interface-peer-discovery#api

Edit: interface has been updated to use promises instead of callbacks

[2019-05-08 11:25] kumavis commented on #44
`randomwalk.start/stop` does not match the spec https://github.com/libp2p/js-libp2p-kad-dht/issues/111

[2019-05-08 11:26] kumavis commented on #111
`libp2p-webrtc-star` **does** implement this correctly
https://github.com/libp2p/js-libp2p-webrtc-star/blob/master/src/index.js#L46-L47

[2019-05-09 20:35] jawerty opened #112 "TypeError when running `node.dht.findProvs` from js-ipfs"
Hey I'm having a pretty simple issue where if I try to find providers (or provide) using the ipfs module since there are no peers providing the hash i'm requesting it should simply not return anything but it fails on an error log in `libp2p-kad-dht/src/query/index.js:100` since thus.run.errors and this.run.peersSeen is never set at that point. I patched it locally but thought you may want to updat

[2019-05-10 05:08] kumavis commented on #105
was also encountering this here
https://github.com/libp2p/js-libp2p-kad-dht/blob/ddf80fed9ca7e8b1ec096f3160535aa3fdb45b50/src/private.js#L559

[2019-05-10 05:19] kumavis opened #113 "TypeError in Query.stop"
[code]

[2019-05-10 05:28] kumavis opened #114 "Query - run is overwritten"
Query has a method called `run`. Query also assigns to `this.run` which would shadow the method. Is this a mistake or intentional? If its intentional its surprising and should be heavily commented.

https://github.com/libp2p/js-libp2p-kad-dht/blob/ddf80fed9ca7e8b1ec096f3160535aa3fdb45b50/src/query/index.js#L56-L67

[2019-05-10 05:30] kumavis commented on #114
query.run is called at least [here](https://github.com/libp2p/js-libp2p-kad-dht/blob/ddf80fed9ca7e8b1ec096f3160535aa3fdb45b50/src/index.js#L379)

[2019-05-10 05:31] kumavis commented on #114
cant wait for the Awesome Typescript Endeavour :wink:

[2019-05-10 05:35] kumavis commented on #114
related https://github.com/libp2p/js-libp2p-kad-dht/issues/113

[2019-05-10 05:49] kumavis commented on #113
Seems `query.run()` is exiting before creating the `query.run` object (also see #114)
https://github.com/libp2p/js-libp2p-kad-dht/blob/ddf80fed9ca7e8b1ec096f3160535aa3fdb45b50/src/query/index.js#L57-L60
and then the timeout happens and we call `query.stop()`
https://github.com/libp2p/js-libp2p-kad-dht/blob/ddf80fed9ca7e8b1ec096f3160535aa3fdb45b50/src/private.js#L527
and `query.stop()` internally e

[2019-05-10 08:02] jacobheun commented on #112
Thanks for submitting the issue! It will be fixed by https://github.com/libp2p/js-libp2p-kad-dht/pull/116

[2019-05-10 08:17] jacobheun commented on #113
This _should_ only happen if something like `findProviders` is called before the dht is started, or after it stopped. Do you know if the code you're running is doing any offline querying?

[2019-05-10 09:16] #113 closed

[2019-05-10 09:45] vasco-santos commented on #114
This should be fixed by #116

[2019-05-10 09:45] #114 closed

[2019-05-11 00:15] kumavis commented on #113
@jacobheun i have a loop announcing provided content and it seems that it starts before the node starts

this didnt seem to cause any problems other than exposing this bug

[2019-05-15 09:04] kumavis opened #118 "Failed to provide to 1 of 20 peers"
I'm still investigating but almost all of my clients have encountered this error message. Maybe they are accidentally trying to provide to themselves? Will report if I learn more

![image](https://user-images.githubusercontent.com/1474978/57763022-2f2c9880-7733-11e9-89f8-60987b5d133e.png)

[2019-05-15 09:19] jacobheun commented on #118
We probably should change this behavior so that it doesn't error and instead log the individual errors. Ideally we'd try peers until we have 20, but I think in the interim, providing to the majority of peers shouldn't return an error.

We do need to figure out the underlying cause if it's this consistent. If we're attempting to provide to peers, we should have already connected to them as part of

[2019-05-15 09:21] kumavis commented on #118
Saw one error:
[code]

not super useful error message

[2019-05-15 09:23] kumavis commented on #118
my transport is webrtc-star, so it may be that the connection dropped but it hasnt been recognized as down yet

[2019-05-15 09:36] kumavis commented on #118
ok this time i was able to trace it up to the error source, its `simple-peer`
[code]

So yeah, I agree, I wouldn't expect a single failure to error the whole process

As a tangent -- why isnt the error more meaningful?
`simple-peer` internally it seems to end the stream as is instead of propagating the error
[code]

it does later emit an error
[code]

[2019-05-15 09:51] jacobheun commented on #118
We likely aren't handling stream ending properly, locally and/or remotely. That error message is likely a result of `pull-length-prefixed` attempting to decode a 0 length, unencoded message. It would try to read the non existent header and pull-reader would return that error.

@vasco-santos as we go through the new Connection/Stream interface updates we should really work on improving our testing

[2019-05-15 10:17] kumavis commented on #118
I'm not 100% on whether `simple-peer`'s behavior here is to blame or not but I filed this https://github.com/feross/simple-peer/issues/468 to get some clarification

[2019-05-15 10:38] kumavis commented on #118
got another one:
[code]

[2019-05-15 10:57] jacobheun commented on #118
If we were previously able to connect to that peer, which we presumably did during `getClosestPeers`, we somehow lost the ability to connect to it. My assumption is that we're losing connections to the relay nodes we previously connected through and our path to connecting to that peer no longer exists.

[2019-05-15 10:58] kumavis commented on #118
yeah thats what i assumed, just want to report what im seeing

[2019-05-15 11:21] kumavis commented on #118
seems like the error propagation is actually a bug in `stream-to-pull-stream`, as `pump` handles the error correctly https://github.com/kumavis/stream-to-pull-stream-bug

[2019-05-15 11:35] kumavis commented on #118
actually my test is currently incorrect, due to poor error handling in `toPull.duplex()`

[2019-05-15 12:00] kumavis commented on #118
so I know that `toPull.duplex()` has at least one error propagation bug and I see we're using it in `libp2p-webrtc-star`'s `incommingDial` fn

[2019-05-15 12:17] jacobheun commented on #118
`libp2p-tcp` and the multiplexers (spdy, mplex) are also using it (except for [pull-mplex](https://github.com/libp2p/pull-mplex)). If there's a bug there, the multiplexers could be aggravating/contributing to it.

[2019-05-15 13:20] kumavis commented on #118
error propagates correctly when `toPull.duplex` is the source. This test passes:
[code]
from [here](https://github.com/kumavis/stream-to-pull-stream-bug/blob/80afddd25d47df7aab7b73b89152fa7abe3ec531/index.js#L44-L49)

However when the `pull.duplex()` receives an error, it **does not** propagate it. Theres a second optional cb `toPull.duplex(stream, cb)` and the error ends up there. The stream ends

[2019-05-19 03:35] kumavis opened #123 "Query flow high complexity"
found it a little difficult to follow the flow of an execution of a query
Mostly posting this to share notes and gather discussion

here is a async execution graph i wrote by hand
[code]

There's not very clear parent-child relationships between components and everything seems to have bi-directional references

this leads to this strange flow as it gets deeper
[code]

### some ideas
- call `run.in

[2019-05-19 06:15] kumavis commented on #123
I'm not entirely sure why query and run are broken out. seems like 1 query always has 1 run, and queries are never re-run.

[2019-05-19 13:47] kumavis opened #124 "dht._findProvidersSingle returns duplicate providers"
I frequently see the reponse `msg.providerPeers` contain the same peer many times. I just saw one that had 227 providers where only 5 were unique by `peerId`. weird! :alien:

I've never seen any duplicates in `msg.closerPeers`

[2019-05-19 14:16] kumavis commented on #124
maybe something related to caching? seems to happen more often when i ask the network for the same key a few times

[2019-05-20 13:24] jacobheun commented on #124
It looks like this is likely an issue with the provider cache map, https://github.com/libp2p/js-libp2p-kad-dht/blob/v0.15.0/src/providers.js#L241.

It's adding the `PeerId` to the map, which won't deduplicate because those stored PeerId's are likely different instances. That's going to need to be changed to do better validation to ensure uniqueness.

[2019-05-20 13:37] dirkmc commented on #124
There are some fixes to that and other issues with Provider caching here:
https://github.com/libp2p/js-libp2p-kad-dht/pull/82/files#diff-1b3f398ccd8edf16e368e71d0fe5eda9R190

[2019-05-20 16:31] daviddias commented on #79
@JGAntunes might not be worth it as that method is just sugar coating on multihashing, see:

https://github.com/libp2p/js-libp2p-kad-dht/blob/master/src/utils.js#L32-L34

That said, also not opposed. If you want to create a PR that exposes it, we can take it :)

[2019-05-20 18:46] x5engine commented on #61
I only have 35 peers come on! I need more like you!!!

[2019-05-21 13:46] vasco-santos commented on #61
How are you testing this @x5engine ?

[2019-05-21 13:51] kumavis commented on #79
:wave: @JGAntunes
maybe a new method in `RoutingTable` ? `closestPeersByPeerId`
[code]

[2019-05-21 13:52] kumavis commented on #112
Fixed by #116

[2019-05-21 13:52] #112 closed

[2019-05-23 14:15] kumavis commented on #123
heres a fun one
A Query's `makePath` and `queryFn` are:
- defined at instantiation time in `KadDHT`
- `makePath` is stored on `Query`
- `makePath` is called in `Run`
- `queryFn` is stored on `Path`
- `queryFn` is called in `WorkerQueue`

[2019-05-28 14:11] JGAntunes commented on #79
@daviddias thanks, I'll take a look into exposing it, will submit a PR when I have some time.

@kumavis well that would be ideal :smile: if you folks think it would be useful happy to work on it.

[2019-05-30 11:57] dirkmc opened #128 "ADD_PROVIDER RPC handling"
In the [handler for the ADD_PROVIDER RPC](https://github.com/libp2p/js-libp2p-kad-dht/blob/master/src/rpc/handlers/add-provider.js#L17), we assume the sending peer is the provider, ignoring the payload of the message. Should we conform with how [go-libp2p-kad-dht handles this message](https://github.com/libp2p/go-libp2p-kad-dht/blob/master/handlers.go#L362), and ignore the ADD_PROVIDER message if

[2019-05-30 15:41] jacobheun commented on #128
Logically the code should be:
[code]

We **only** want to add the peer as a provider if it has multiaddrs and it's the peer sending the request (which should be the only case we get). Right now we're adding the peer as a provider without checking it's multiaddrs which isn't good, because peers shouldn't be providing if they can't be dialed. Ideally we'd also avoid adding them if they just had a ba

[2019-05-30 15:48] dirkmc commented on #128
Sounds good, I can make a PR to implement these changes.

@jacobheun do you see it as a blocker that hosts running an older version of the DHT will not be able to connect to hosts running a version with this fix?

[2019-05-30 15:59] jacobheun commented on #128
We could mitigate that by falling back to the from peer if it has multiaddrs and then remove that in a subsequent minor release, or when we do the ipfs dht release.

[2019-05-30 16:00] dirkmc commented on #128
Ok will do 👍

[2019-05-31 09:50] #128 closed

[2019-05-31 10:20] vasco-santos opened #130 "Cleanup legacy code"
Once the Awesome Endeavour: Async Iterators [ipfs/js-ipfs#1670](https://github.com/ipfs/js-ipfs/issues/1670) is achieved in this repo, we must leverage this breaking change (will need users' to upgrade their codebase) to also remove all that legacy code that we currently maintain.

- [ ] Remove `add-provider.js` fallback for assuming the originator [libp2p/js-libp2p-kad-dht#129](https://github.com

[2019-05-31 11:07] alanshaw commented on #32
Yes it's an edge case, but can happen when a node starts up with no connectivity and also in tests. We have the same issue with `provide`.

[`GetClosestPeers` in `go-libp2p-kad-dht` throws an error](https://github.com/libp2p/go-libp2p-kad-dht/blob/31765355df17ef818381169dc36180c84c119928/lookup.go#L57-L62).

IMHO that's not an error case, we should just check the array of returned peers when we ca

[2019-06-02 00:09] JustMaier commented on #130
Is there a workaround for the meantime? Just rolling back to earlier versions of the datastore libraries?

[2019-06-02 02:57] JustMaier opened #131 "Uncatchable errors with new promisify/async support"
Since errors are being thrown inside the asynchronous `setImmediate` methods, they are uncatchable. This leads to various problems, such as uncaught errors when trying to fetch an item from the DHT for the first time because the datastore will throw an error that cannot be caught.

[2019-06-03 02:20] dirkmc commented on #131
@JustMaier thanks for taking a look through the code. Could you point us to a place where this problem occurs?

[2019-06-03 05:43] kumavis commented on #131
Not sure if this is what @JustMaier is experiencing but I noticed if you have a "sometimes bug" in your `queryFunc` it just gets appended to the `run.errors` and is easy to miss

[2019-06-03 08:53] KrishnaPG commented on #36
Came across this while looking for an usage example. Wondering if any example is available for reference?

[2019-06-03 15:13] KrishnaPG commented on #36
Thank you @vasco-santos . Does this package work in browser?

[2019-06-03 17:25] JustMaier commented on #131
@dirkmc I think my problem might have actually stemmed from the fact that I was using `interface-datastore@0.7.0` which made the switch to async/await and async iterables. Since that version no longer takes callbacks, promise rejections/errors weren't getting caught by the callbacks that were being passed to the datastore.

Initially, after reviewing the codebase, I thought that perhaps the reject

[2019-06-03 17:37] dirkmc commented on #131
@JustMaier we're currently working on updating the DHT to use async/await, but it's being done piece by piece, so probably it would make most sense to wait until that process is complete before upgrading to an async/await version of interface-datastore

[2019-06-03 17:53] JustMaier commented on #131
Sounds good. I hadn't noticed, but it looks like @kumavis is actually in the process of working through the changes now.

Thanks for your guy's hard work on this stuff. It's been awesome to see it get better and better.

[2019-06-03 17:53] #131 closed

[2019-06-05 16:39] vasco-santos commented on #36
It should work, but it is not highly tested yet. But we are working on integrating this in `js-ipfs`, including in the browser

[2019-06-09 15:35] kumavis commented on #36
@KrishnaPG I can happily report it does work in the browser :smile_cat:

[2019-06-10 00:49] KrishnaPG commented on #36
That is great news. Thank you @kumavis

[2019-06-10 09:44] #124 closed

[2019-07-29 09:52] jacobheun opened #138 "Add test to catch regression for #137"
We should add a test to ensure that we don't end up with a regression of the fix in #137, especially as we migrate to full async/await.

[2019-11-05 21:28] daviddias opened #147 "Is there a table of pre-gen fingers to be used for the random-walks?"
Were the following notes/strategies taken in consideration for this implementation? Urls:
- https://github.com/libp2p/go-libp2p-kbucket/pull/38/files#r309983750
- https://github.com/libp2p/go-libp2p/issues/222#issuecomment-550023940

[2019-11-14 20:49] vasco-santos commented on #147
Not really, those are recent discussion.

It would be great to add them though

[2019-11-18 23:01] KrishnaPG opened #149 "Compatibility with Mainline DHT"
Is this compatible with Mainline DHT? Can this be used to connect to Bittorrent / WebTorrent clients and piggyback on them to discover other rpc-peers (that use `libp2p-kad-dht` for RPC)?

Since Mainline DHT is one of most populous DHT currently available, being able to use those nodes for quick peer discovery would be a major plus.

Wondering how to make this work with Mainline DHT. Any config sp

[2019-11-19 15:18] vasco-santos opened #150 "Export errors useful outside of the current scope"
More information on: https://github.com/ipfs/community/blob/master/CONTRIBUTING_JS.md#error-codes

Per https://github.com/libp2p/js-libp2p-kad-dht/pull/148#discussion_r347625774

[2019-11-19 15:20] vasco-santos opened #151 "make getClosestPeers an async generator"
We should transform `getClosestPeers` into an async generator.

[2019-11-22 19:10] dirkmc opened #154 "Oversized messages dropped without warning"
In [two](https://github.com/libp2p/js-libp2p-kad-dht/blob/eee2f618b9ecce397846e4b6348984a9a009e3b0/src/network.js#L193) [places](https://github.com/libp2p/js-libp2p-kad-dht/blob/c49fa92dfcb5cc2e181c9b4af79932d49896856a/src/rpc/index.js#L63) in the code we drop messages that are too large.

We should probably send an error response to the sender.

It may be worth creating a transformer similar to [

[2019-11-25 18:02] dirkmc commented on #154
@alanshaw following up on the question in the weekly sync - is it possible for an oversized message to reach js-libp2p-kad-dht? Or is this already taken care of by lower layers?

[2019-11-27 14:09] jacobheun commented on #154
It's not, and the sizes don't match. Mplex restricts messages to 1MB, so it won't make it to the DHT. Additionally, `it-length-prefixed` has a default decode restriction of 4MB, so messages wouldn't make it even if the muxer allowed it.

The DHT [comment](https://github.com/libp2p/js-libp2p-kad-dht/blob/master/src/constants.js#L37) of 4MB is wrong, the constant of `2 << 22` is 8MB, not 4, but it w

[2019-11-27 15:13] vasco-santos commented on #154
It seems so! Thanks for your analysis.
 @dirkmc would you like to PR it?

[2019-11-27 16:06] vasco-santos opened #155 "Use p-queue instead of async/queue"
In our global efforts to reduce the bundle size of libp2p, we have been removing big dependencies such as `async` as well as moving away from callbacks to `async`.

In the detailed context, we are missing in this module to remove the `async/queue` in favor of `p-queue`

[2019-11-27 16:23] alanshaw commented on #154
In `it-mplex` an oversize incoming message will cause an [error to be thrown (and caught)](https://github.com/libp2p/js-libp2p-mplex/blob/master/src/mplex.js#L147) in the sink, which in turn will [abort _all_ the mplexed streams](https://github.com/libp2p/js-libp2p-mplex/blob/master/src/mplex.js#L175-L176) (sends a RESET message to the remote). The error will be [re-thrown on the source side](http

[2019-11-27 16:35] jacobheun commented on #154
IIRC go-mplex will actually automatically split the messages into a maximum size, which we should eventually be doing for js-mplex. So it's not possible in go, when using mplex, to send an oversized message as it is automatically sliced for you.

[2019-11-28 10:31] alanshaw commented on #154
Ok so, I was curious - go-mplex does throw at the top level https://github.com/libp2p/go-mplex/blob/8e818a96b0e2bbdc7bd825d3c8a2e131515e78ed/multiplex.go#L568 but the splitting _is done_ by the multiplexed streams on write:

https://github.com/libp2p/go-mplex/blob/8e818a96b0e2bbdc7bd825d3c8a2e131515e78ed/stream.go#L142-L159

[2019-11-28 12:44] alanshaw commented on #154
https://github.com/libp2p/js-libp2p-mplex/pull/100

[2019-11-28 13:02] #154 closed

[2019-11-30 10:50] #151 closed

[2019-12-02 16:40] vasco-santos opened #159 "create test mock for peer-store"
We are currently using [libp2p/js-peer-book](https://github.com/libp2p/js-peer-book) as a way to mock libp2p `peer-store`. We want to deprecate `peer-book`and just create a proper mock for `peer-store` here

[2019-12-10 17:03] achingbrain opened #163 "Switch to using multihashes for DHT queries"
`go-IPFS` is switching to use multihashes only for DHT queries so this module should do the same thing.

@aschmahmann has proposed accepting CIDs as arguments in the API but only sending the multihash portion over the wire when making the query.

Context: https://github.com/libp2p/go-libp2p/issues/755

[2019-12-12 10:51] kumavis opened #164 "for-await handled serially"
https://github.com/libp2p/js-libp2p-kad-dht/commit/f0e68004b8c559c3214a1e0aaa94a15a26826085#diff-463b2787d6b1decd9b30c6a23ef7aa95

@vasco-santos
If I'm understanding this correctly, with this new AsyncIterator and for-await syntax we:
- we start messaging our first dht peer sooner (yay!)
- message subsequent peers serially after awaiting a response (boo!)

Seems like we want to do the message send

[2019-12-12 11:00] vasco-santos commented on #164
@kumavis the first step here was to have an async iterable being returned from now.

Internally, we are still not leveraging the real capabilities of `async iterators` for the majority of the cases yet. So you are right that the end goal is to handle that stuff in parallel as we get them within the `for await` loop. Now that we expose this API externally and release the async refactor we intend to

[2019-12-12 11:04] kumavis commented on #164
Sounds good!
Looks like `paramap-it` solves exactly this problem.

https://github.com/alanshaw/paramap-it

[2019-12-12 11:09] kumavis commented on #164
Ah, while `paramap-it` should help we shouldn't need it's order preservation.

[2019-12-12 11:50] vasco-santos commented on #164
yeah, you can have a look at [it-awesome](https://github.com/alanshaw/it-awesome). It has a lot of great modules we can use with async iterators

[2019-12-12 14:44] kumavis commented on #155
[`p-queue`](https://github.com/sindresorhus/p-queue)
[`async/queue`](http://caolan.github.io/async/v2/docs.html#queue)
May also be able to replace it with async iterator based stuff instead

[2019-12-12 23:12] alanshaw commented on #163
Tracking https://github.com/libp2p/go-libp2p-kad-dht/pull/422

[2020-01-07 22:43] blakebyrnes opened #167 "Providers are not actually cleaning anything up"
The providers functionality has a cleanup function, but when it runs, it never actually finds any provided files. I think this is because datastore-fs is expecting a glob format, and the constants variable: c.PROVIDERS_KEY_PREFIX is just a path.

It works if you simply add '**' after the prefix path:
`const query = this.datastore.query({ prefix: c.PROVIDERS_KEY_PREFIX + '**' })`

[2020-01-11 14:02] vasco-santos commented on #167
Thanks for reporting this issue @blakebyrnes

Would you be interested in adding a test which fails the clean up and/or fix the issue? It would be great to have this fixed

[2020-01-11 21:02] blakebyrnes commented on #167
I just took a peek under the covers. I don't actually know what to do about this one. It looks like this should actually behave correctly in Memory Datastore, and possibly in Level Datastore too. It's the File Datastore that has issues, since it uses glob format. So what I proposed would actually break Memory and Level, but fix File... Is this a datastore-fs bug?

[2020-02-04 21:34] raullaprida opened #172 "Add message forwarding capabilities"
Some distributed applications (e.g, swarm) require to forward messages to a certain peer via the DHT, instead of looking for closest peers and finally send the message directly to the recipient.
Also, there's a requirement to use a partial recipient address instead of the full address.
The recipient will know the message is for him/her because it can be decrypted successfully.

a new RPC  Message

[2020-02-26 09:54] vasco-santos commented on #172
Thanks for reaching out @raullaprida

We are currently working on some experiments in the `go-libp2p` implementation of the dht, which will then be ported to a specification document that we will eventually port to this JS implementation. So, I would say that we should wait for that before adding more features here. As you can use your own fork it will not be a problem for you, so I will let you k

[2020-04-23 14:27] jacobheun opened #183 "Update the DHT to the latest libp2p spec"
The go-libp2p DHT has undergone a large effort to improve its performance. As a followup to its upcoming release a spec will be produced for other implementations to add support for. The spec is not yet complete, but this issue is being added to keep track of this effort.

Rough thoughts on timeline right now is that this issue could be unblocked for a Q3 or later implementation.

[2020-05-26 18:41] danielrempe-ut opened #192 "Timeout handling in random walk query"
I am using kad-dht with random walk enabled in a largely browser-based network, and as such, peers come and go very often. I found that peer discovery via the DHT stops working after a random walk once one peer has disconnected from the network.

I was able to trace this problem to some incorrect error handling in random-walk.js. The query times out whenever there are disconnected peers in the rou

[2020-05-27 07:57] vasco-santos commented on #192
Hello @danielrempe-ut

Thanks for reporting this issue.
I would say that the ideal solution would be to change https://github.com/libp2p/js-libp2p-kad-dht/blob/master/src/peer-routing/index.js#L179 to throw the error using the `err-code` module. Would you like to add a PR to fix this? Ideally, you should have a test with this.

[2020-05-27 22:07] danielrempe-ut commented on #192
Yes, I'll create a PR. I haven't created a test before, so I'll have to figure that out as I do this. I'll probably be able to submit a PR tomorrow sometime.

[2020-05-28 14:09] vasco-santos commented on #110
After the latest changes of the `go-libp2p-kad-dht`, we intend to rewrite most of the this codebase once we have a spec from the go implementation. Once that is done, we will guarantee this will be get done.

[2020-05-28 14:10] vasco-santos commented on #123
After the latest changes of the `go-libp2p-kad-dht`, we intend to rewrite most of the this codebase once we have a spec from the go implementation. Once that is done, we will guarantee this will be get done.

[2020-05-28 14:20] #164 closed

[2020-05-28 14:21] autonome commented on #118
@kumavis can you still reproduce w/ async/await contemporary versions of this?

[2020-05-28 15:18] vasco-santos commented on #44
After the latest changes of the go-libp2p-kad-dht, we intend to rewrite most of the this codebase once we have a spec from the go implementation. Once that is done, we will guarantee that the random walk is full compliant with the `interface-peer-discovery`.

[2020-05-28 15:19] vasco-santos commented on #111
Closing this in favour of #44 that should be addressed once we refactor the DHT with the new spec.

[2020-05-28 15:19] #111 closed

[2020-05-29 07:38] kumavis commented on #118
will reopen if i can

[2020-05-29 07:38] #118 closed

[2020-06-11 05:09] aileenscott-uleska opened #196 "Some security findings"
Hi folks,

I hope you don’t mind, we were testing out our security automation tool and ran it against your project.  A few issues came out that you may want to check out - we weren’t sure how to submit a PDF here, so we uploaded it to https://source-security.co.uk/de672649-5ebc-44bb-8ea8-2981200bbf32/ if you wanna check it out.

Any issues or feedback, just let us know.

Aileen

[2020-06-11 08:23] vasco-santos commented on #196
@aileenscott-uleska thanks for reporting these. I checked the document and it seems that the 3 occurrences you mention are not vulnerabilities and are present in the tests.

Closing this for now, feel free to open if something updates

[2020-06-11 08:23] #196 closed

[2020-06-26 09:56] olivier-nerot opened #198 "how to put/get values in dht created into Libp2p.create() ?"
I use dht thanks to a Libp2p.create(), inspired by sample [here](https://github.com/libp2p/js-libp2p-examples/blob/master/chat/nodejs/bootstrap/index.js) :
[code]
Then, I would like to store my personal profile in php, to be available to other peers :

[code]

But there is no `dht` member into the Libp2p node. Only a `_dht`, without `put()` or `get()` methods :

[code]

is this the way to proceed

[2020-06-30 08:54] olivier-nerot commented on #198
In fact, `node._dht.put()`can be called, and also `node.contentRouting.put()`...
I wasn't awake I think. Sorry for the noise.

May be the doc could say that `_dht` is accessible from libP2p node.

[2020-06-30 08:54] #198 closed

[2020-06-30 09:39] vasco-santos commented on #198
Hey @olivier-nerot

Sorry for the late answer. We have `_dht`, but we want that libp2p users use `contentRouting.*` instead. This will allow in the future multiple contentRouting modules being used at the same time, and not being tied to the DHT implementation

[2020-07-28 13:14] jacobheun commented on #163
For future reference, there is some discussion around adding CID prefixes to provider records in order to keep data structure knowledge with the usage of just mulithashes, https://github.com/libp2p/go-libp2p-kad-dht/issues/559#issuecomment-664556237.

[2020-11-19 16:06] #159 closed

[2020-12-09 10:35] HexaField opened #207 "Configure browser distribution build"
Currently, the browser distribution is not set up.

Webpack is set up for the package, it should just be a matter of configuring the package.

https://unpkg.com/libp2p-kad-dht shows the unbundled code

[2020-12-09 11:25] vasco-santos commented on #207
Good catch. This should now be fixed with #208

New release
https://unpkg.com/libp2p-kad-dht@0.20.3/dist/index.min.js

[2020-12-09 12:46] HexaField commented on #207
Confirmed working. Thanks!

[2020-12-09 12:46] #207 closed

[2020-12-10 20:46] HexaField opened #209 "Buffer is not defined in browser"
Trying to `put` a key into a DHT from the browser fails with the following error, despite all simulated aegir tests passing.

Seems to be an issue with either the webpack process or a dependency that is out of date. This may be the reason why this package was not pushed to the browser CDNs. I've tried tracking down the culprate to no avail.

[code]

[2020-12-10 20:55] HexaField commented on #209
Further diagnosis shows this seems to be a problem with libp2p@0.29.0 (likely passing a bad function), updating to 0.29.4 seems to have fixed the issue.

[2020-12-11 10:49] HexaField commented on #209
The issue has returned without changing much. Not sure what to make of this.

[2020-12-11 11:28] jacobheun commented on #209
This is likely due to `xor-distance` using Buffer https://github.com/mafintosh/xor-distance/blob/v2.0.0/index.js#L5. Having another DHT peer connected would result in a query happening which would cause the peer-list logic to kick in, https://github.com/libp2p/js-libp2p-kad-dht/blob/87f85113c9078d1ca41858178d7bd66075c282ea/src/peer-list/peer-queue.js#L63.

Not sure why this wasn't caught during th

[2020-12-12 03:59] HexaField commented on #209
I have forked, upgraded and tested `xor-distance` to use typed arrays https://github.com/HexaField/xor-distance-typedarray

Will now implement, test & make a PR.

[2020-12-14 11:26] achingbrain commented on #209
I've [PR'd](https://github.com/mafintosh/xor-distance/pull/3) `xor-distance` which should solve the issue.

In the interim we can add a `webpack` key to [.aegir.js](https://github.com/libp2p/js-libp2p-kad-dht/blob/master/.aegir.js) and [tell it to include Buffer](https://github.com/ipfs/js-ipfs/blob/master/packages/ipfs-core/.aegir.js#L26-L27) in the bundle.

I guess this is hitting an untested br

[2020-12-16 12:05] HexaField commented on #209
Closing this as I have found a solution that works. See https://github.com/libp2p/js-libp2p-kad-dht/pull/210#issuecomment-746185095

[2020-12-16 12:05] #209 closed

[2021-01-20 17:03] cndolo commented on #149
Hi @KrishnaPG , did you follow up on this?

[2021-01-20 17:15] vasco-santos commented on #149
Hey @KrishnaPG @cndolo

Apologies for the late answer. This is compatible with any libp2p node running the DHT protocol. This way, `Bittorrent`/ `WebTorrent` would have to run a libp2p node to be able to exchange DHT messages over libp2p connections.

There was a discussion related to this in the past https://github.com/webtorrent/webtorrent/issues/288

[2021-01-21 01:03] #149 closed

[2021-03-12 19:43] iNDicat0r opened #216 "Compatibility issue with go-libp2p-kad-dht"
Hi

I am trying to discover nodes using the `.contentRouting.findProviders` in `js-libp2p-kad-dht`. There are  other peers written in golang, and the `advertise functionlity` uses `go-libp2p-kad-dht`.

Golang peer:
[code]

Consider the following in nodejs:

[code]

Nodejs can't find any provider, i get the `not found` exception. Are those libs compatible the way they `advertise` and `findPeer` ?

[2021-03-15 08:43] vasco-santos commented on #216
Thanks for reaching out @iNDicat0r
They are compatible and interoperable, but you might be hitting connectivity issues that make your JS node not able to bootstrap its network in order to find the go node. The JS DHT does not provide the same reliability as the GO DHT, we are looking into upgrading the JS DHT with the learnings from the updates that got in the GO DHT last year.
Meanwhile, I highly

[2021-03-15 18:54] iNDicat0r commented on #216
Thanks @vasco-santos

I will take a look at it. Does IPFS uses delegate routing? Isn't it too centralized?

[2021-03-15 18:54] #216 closed

[2021-03-15 19:44] vasco-santos commented on #216
`js-ipfs` relies on the delegates yes. You need to rely on the availability of a given set of delegates.

These delegates are `go-libp2p` nodes acting as DHT servers, so basically you are delegating DHT queries to them. They will do the regular DHT query and return back the results.

[2021-06-06 19:20] mcclure opened #221 "Error "No content routers available" calling provide() in browser"
I am working on an app whose basis is one browser tab rendezvousing with another using the libp2p DHT, using a server running the js-libp2p-webrtc-star signaling server and one "bounce" node. To ensure all nodes are participating in the DHT, all nodes (including the bounce server) will only talk to nodes that respond to a shibboleth "hello" protocol. I am able to open two tabs behind a NAT, connec

[2021-06-06 19:26] mcclure commented on #221
Related issue about 60 second delay in test procedure https://github.com/libp2p/js-libp2p/issues/950

[2021-06-06 19:54] mcclure commented on #221
Related issue about insecure https problem https://github.com/libp2p/js-libp2p-webrtc-star/issues/360

[2021-06-07 09:26] vasco-santos commented on #221
Hello @mcclure

Content Routers need to be specified in libp2p configuration: https://github.com/libp2p/js-libp2p/blob/master/doc/CONFIGURATION.md#setup-with-content-and-peer-routing The error states that you have any module to use.

Bear in mind that the DHT implementation is not stable and not recommended at all in the browser due to all the limitations in this environment. You should rely on a

[2021-06-07 14:11] jacobheun commented on #183
Requires https://github.com/libp2p/specs/pull/108

[2021-06-07 20:17] mcclure commented on #221
Thanks so much, adding dht:enabled:true resolved the problem and I can now do successful DHT lookups. I see now that this flag is in the documentation I linked and I missed the enable:true line near the top.

One thing that might have helped here: if the content-routing is able to see that content routers are configured but that they are disabled, the error could say "No content routers available

[2021-06-10 07:09] vasco-santos commented on #221
Closing this, feel free to open if there is still any problem

[2021-06-10 07:09] #221 closed

[2021-10-01 11:19] achingbrain commented on #44
Randomwalk has been removed in favour of [routing table refresh](https://github.com/libp2p/js-libp2p-kad-dht/pull/215) so this is no longer necessary.

[2021-10-01 11:19] #44 closed

[2021-10-01 11:20] achingbrain commented on #110
Randomwalk has been removed in favour of [routing table refresh](https://github.com/libp2p/js-libp2p-kad-dht/pull/215) so this is no longer necessary.

[2021-10-01 11:20] #110 closed

[2021-10-01 11:21] achingbrain opened #230 "Peer eviction strategy"
JS does not favor long lived peers.

1. We need to implement ping. When a useful peer becomes known, we add it to the routing table if there is room. If there is not room, we should NOT evict peers without pinging/dialling them.
2. Useful peers are those that have successfully responded to a query.

[2021-10-01 11:22] achingbrain commented on #230
1. is implemented by https://github.com/libp2p/js-libp2p-kad-dht/pull/229

[2021-10-01 11:23] achingbrain opened #231 "Bootstrapping"
1. Seed routing tables with pre generated peers
2. Connect to a DHT server and perform a Refresh

[2021-10-01 11:24] achingbrain commented on #231
1. Is implemented by https://github.com/libp2p/js-libp2p-kad-dht/pull/215

[2021-10-01 11:34] achingbrain opened #232 "Table refresh"
1. JS DHT currently runs a random walk on a random peer id, this must be run for each bucket. This should be done serially.
2, Run GetClosestPeer for own peer id

Notes:

A completed query counts as a refresh for the Common Prefix Length (bucket range) of the key queried. This avoids an unnecessary bucket refresh within short windows.

[2021-10-01 11:35] achingbrain commented on #232
1. is redundant as RandomWalk has been removed in favour of [routing table refresh](https://github.com/libp2p/js-libp2p-kad-dht/pull/215)

[2021-10-01 11:40] achingbrain opened #233 "Query logic overhaul"
## Dist Paths

JS uses disjoint paths, go does not. We could ignore this for now and just lock to 1 (it might be interesting in the future to see how disjoint path performance behaves if we can get comparable performance with go on 1 path)

## Evaluate Lookup/Query Logic

* This is where leveraging something like https://github.com/libp2p/py-libp2p-xor would be really valuable for finding bugs. Th

[2021-10-01 11:42] achingbrain opened #234 "Auto Client/Server Mode"
Go-libp2p automatically detects its public/private status. It starts in client (queries) mode and if it determines its diallable will switch to server (mounts the protocol in multistream and responds to queries).

This can also be manually set.

We can leave this as manual in JS for now. It will require some work in libp2p for address detection to get auto mode working properly.

[2021-10-01 11:43] achingbrain opened #235 "Peer Diversity"
To mitigate eclipse attacks, go-libp2p adds peer diversity filters to prevent numerous peers from being added from the same IP subnet

[2021-10-01 11:54] achingbrain commented on #233
Related: https://github.com/libp2p/js-libp2p/issues/983

[2021-11-18 14:59] #233 closed

[2021-11-18 15:00] achingbrain opened #238 "Include query id in events"
https://github.com/libp2p/js-libp2p-kad-dht/pull/237#discussion_r752128926

[2021-11-23 22:33] sneaker1 opened #240 "TypeError: DHT is not a constructor"
Hello,

after upgrading from 0.25.0 to 0.26.0 my code doesn't work anymore.
I have my libp2p node configured with libp2p-kad-dht like described here:
https://github.com/libp2p/js-libp2p/blob/master/doc/CONFIGURATION.md#customizing-dht

[code]

Since 0.26.0 i get the error message
`(node:97304) UnhandledPromiseRejectionWarning: TypeError: DHT is not a constructor`
when i start the node.

Can you he

[2021-12-26 13:45] kebian opened #271 "I never see any ADD_PROVIDER messages on the dht streams"
Hello and Merry Christmas / Happy New Year!

This is probably all down to my limited understanding of libp2p and ipfs in general but I've been attempting this for several days and I've hit a brick wall with it.  I'm hoping someone can point me in the right direction.

My objective is to passively intercept `ADD_PROVIDER` messages in order to discover new CIDs.  Unfortunately I only ever see `ADD_N

[2022-02-14 22:48] stbrody opened #298 "Error when calling contentRouter.provide(): "Unknown type, must be binary type""
I'm trying to register as a provider of some content to my local libp2p node by calling `libp2p.contentRouting.provide(cid)`, but I keep getting an error:
[code]

My suspicion is that there's a bug in the KadDHT implementation here: https://github.com/libp2p/js-libp2p-kad-dht/blob/3997d67134df84ae091c6fa06f479635315ee957/src/providers.js#L224.  I believe that should just be `cid.multihash` not `ci

[2022-02-15 19:47] stbrody commented on #298
Oh and in case it's relevant, tested with Node v16.13.1, NPM v8.1.2 on Ubuntu 20.04.3

[2022-02-15 20:43] stbrody commented on #298
I guess the issue was I was using the old `cids` package instead of the newer `multiformats/cid`.  Closing

[2022-02-15 20:43] #298 closed

[2022-02-16 14:11] achingbrain commented on #240
Please update to the latest libp2p, it should solve your problem.

[2022-02-17 15:13] achingbrain commented on #271
Do you mean `FIND_NODE`?  This will likely be the node [querying it's own PeerID](https://github.com/libp2p/js-libp2p-kad-dht/blob/master/src/query-self.js) to refresh it's routing table.

You won't immediately start receiving `ADD_PROVIDER` messages - you need externally routable addresses, and to be in the routing tables of other peers, and to have a PeerID that's KAD-close to a CID being stored

[2022-04-14 13:15] Alexis-ROYER opened #314 "`toB58String()` function missing when activating debugging with libp2p"
When activating debugging with libp2p, the following error occurs when calling `DHTContentRouting.provide()`:
[code]

# Configuration
- libp2p@0.36.2 (latest version as of today)
- libp2p-kad-dht@0.28.6 (pulled as a dependency of the latter)

# Steps to reproduce
- Start from [js-libp2p/blob/master/examples/peer-and-content-routing/2.js](https://github.com/libp2p/js-libp2p/blob/master/examples/pee

[2022-04-14 13:27] Alexis-ROYER commented on #314
First question: is this really an issue, or something I misuse?

I've noticed that js-libp2p-kad-dht has come to official releases from versions 1.0.0 to 1.0.5.
I guess that this has given birth to a new npm package [@libp2p/kad-dht](https://www.npmjs.com/package/@libp2p/kad-dht) holding versions 1.0.0 and higher, while the former [libp2p-kad-dht](https://www.npmjs.com/package/libp2p-kad-dht) hold

[2022-04-14 16:53] Alexis-ROYER commented on #314
Here is a hack I have tuned to work around the problem (typescript code):
[code]

Here are the two kind of traces I get:
[code]
and:
[code]
It sounds wierd to me that we get different objects while the call stacks are identical so far...

Whatever, it seems that `Uint8Array` and `Buffer` objects are sometimes passed on to the `debug.formatters.p` callback.

[2022-05-02 01:34] zeim839 opened #324 "README.md references dead URLs"
[README.md](https://github.com/libp2p/js-libp2p-kad-dht/blob/master/README.md): Github is not rendering the _Peer Routing_, _Content Routing_ and _Peer Discovery_ sections. Visiting the referenced URLs returns a `404: Not Found` error.

[2022-05-17 15:48] mpetrunic commented on #314
@Alexis-ROYER  It should work if you use it with [libp2p@0.37](https://github.com/libp2p/js-libp2p/releases/tag/v0.37.0)

[2022-05-19 11:07] Alexis-ROYER commented on #314
Thanks for the information.
I check as soon as I can and tell you back.

[2022-05-24 15:46] wemeetagain commented on #271
Closing due to inactivity, feel free to reopen if you are still having problems

[2022-05-24 15:46] #271 closed

[2022-05-24 15:51] achingbrain commented on #324
Great spot, thanks so much - would you like to open a PR that fixes the docs?

[2022-05-24 16:04] zeim839 commented on #324
Apologies, I should've done that in the first place but I hadn't looked for the updated image src. at the time. I'll submit a PR in a few hours, thanks for reaching out.

[2022-05-24 18:31] achingbrain commented on #163
This was fixed in #237

[2022-05-25 14:27] #324 closed

[2022-06-24 08:04] wong2 opened #349 "How to monitor new CIDs added on a node?"
Is there an event to listen for newly added CIDs on a specific node?

[2022-06-24 08:08] wong2 commented on #271
@kebian Have you solved this problem?

[2022-07-19 12:05] achingbrain commented on #234
Autonat is coming in https://github.com/libp2p/js-libp2p/pull/1298

After this is merged we need to:

1. Listen for the `change:addresses` event emitted by the AddressManager
  a. Does the new address list contain public IPs?  Are we in client mode?  Enable server mode.
  b. Does the new address list not contain public IPs?  Are we in server mode?  Enable client mode.

[2022-08-10 13:30] bertrandfalguiere commented on #231
Can this be closed?

Feel free to hide my comment if I'm mistaken.

[2022-08-30 15:53] amirtgm opened #369 "Problem with DHT provide using bootstrap nodes"
in this code, with all the latest versions I'm trying to provide a simple object using DHT but with everything I tried it always throws Query Aborted.

the Goal I'm trying to achieve is providing a JSON or text with some information. and then from another peer searching for the same data and finding out who provided it and trying to dial to that node.
[code]

[2022-09-07 03:19] wong2 commented on #349
I'd like to monitor new files to build index for search engine

[2022-09-13 15:53] BigLep commented on #349
@wong2 : I believe this is a better topic to raise in discuss.ipfs.tech so hopefully others from the community can share.  You'll get a broader audience than core maintainers this particularly js-libp2p library.

[2022-09-13 15:53] #349 closed

[2022-10-05 20:51] joeltg opened #377 "Treat /dns4 addresses as public"
Right now, both `removePrivateAddresses` and `removePublicAddresses` in src/utils.ts remove all multiaddrs that aren't /ip4 or /ip6.

Is there any reason we couldn't leave /dns4 addresses as public? The situation I'm in is that I'm deploying some bootstrap nodes on fly.io, which gives me a predictable DNS name but a dynamically-allocated ipv4, so I'd like to announce on `/dns4/my-app-name.fly.dev/

[2022-10-07 15:07] joeltg opened #381 "Inconsistency between message keys in ADD_PROVIDER and GET_PROVIDER (cid bytes vs multihash bytes)"
In src/content-routing/index.ts, [`ContentRouting.provide` uses `key.bytes` as the value for `Message.key`](https://github.com/libp2p/js-libp2p-kad-dht/blob/708f19b7d71e3488cdcd8a4b81ae4143431f5073/src/content-routing/index.ts#L70), while [`ContentRouting.findProviders` uses _`key.multihash.bytes`_](https://github.com/libp2p/js-libp2p-kad-dht/blob/708f19b7d71e3488cdcd8a4b81ae4143431f5073/src/conte

[2022-10-07 15:48] joeltg commented on #381
Ah - I see both go-libp2p and js-libp2p recently switched from CIDs to multihashes across-the-board for DHT queries (https://github.com/libp2p/js-libp2p-kad-dht/pull/237). I guess just the `CID.decode` part in `GetProvidersHandler.handle` got missed?

[2022-11-07 19:20] #89 closed

[2022-11-15 16:34] mpetrunic commented on #377
Triage notes: It's something we need @achingbrain input on

[2022-11-29 16:35] achingbrain commented on #381
This is a bug, we should be running queries on the multihash bytes and not the full CID since two CIDs could share a multihash.  Would you like to submit a quick PR with a fix and a test?

[2022-11-29 16:39] achingbrain commented on #377
This sounds like something that should be possible - would you like to submit a PR with a test?